*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: flex;
    background-image: url("../assets/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.garden{
    margin: 20rem auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
}

.holes{
    width: 20.2rem;
    height: 14.9rem;
    margin: 0 auto;

    background-image: url("../assets/mole6.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.holes.one{
    animation: showMole 1s 2s ease;
}

.holes.two{
    animation: showMole 1s 5s ease;
}

.holes.three{
    animation: showMole 1s 8s ease;
}

.holes.four{
    animation: showMole 1s 11s ease;
}

@keyframes showMole {
    0% { background-image: url("./assets/mole1.svg");}
    25% {background-image: url("./assets/mole2.svg");}
    50% {background-image: url("./assets/mole3.svg");}
    75% {background-image: url("./assets/mole4.svg");}
    100% {background-image: url("./assets/mole5.svg");}
}